                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(../Images/light_honeycomb.png);
    background-attachment: fixed;
}

#mainBody {
    height: 65%;
        background-color: white !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
        box-shadow: 0 1px 5px rgba(111, 111, 111, 0.46);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(255, 255, 255, 0.00)
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.formations-bar, .formations-bar-second {
    height: 70px;
    background-color: white;
    box-shadow: 0 1px 5px rgba(34, 34, 34, 0.46);
}

img {

}

.formation-widget {
    display: inline-block;
    height: 100%;
    margin-top: 0px;
    text-align: center;
    line-height: 55px;
}

#formation-name {
    border: none;
    width: 100%;
    text-align: center;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: none;
    color:#757575;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.54);
            
}

.formation-circle {
    background-color: #e1e1e1;
         box-shadow: 0 1px 5px rgba(98, 98, 98, 0.46);
    border: 1px solid rgba(174, 174, 174, 0.46);
    width: 90%;
    margin-top: 7px;
    height: 80%;
    border-radius: 30px;
    text-align: center;
}



.saved {
    background-color: #54c717 !important;
}

.editbutton, .plusbutton {
    background-color: white;
    height: 34px;
         box-shadow: 0 1px 5px rgba(111, 111, 111, 0.46);
    text-align: center;
}

.editbutton, .plusbutton span{
    margin: 0 auto;
    font-size: 20px;
    padding-top: 4px;
    color:#515151
}

#homeTeam, #awayTeam{
     text-align: center;
    height: 40px;
       width: 100%;
    border-radius: 3px;
    font-size: 20px;
    color: #4d4a4a;
    margin-top: 20px;
}

.pitchFrame {
    position: relative;
        -webkit-user-drag: none !important;
}

.pitchFrame img {
    width: 100%;
    -webkit-user-select: none;       

    -webkit-user-drag: none !important;
}

.pitchFrame input {
        -webkit-user-select: none;
}

.formation-name {
    padding: 0;
}

.pitchLocation {
    background-color: white;
    width: 7.5%;
    height: 11%;
    border-radius: 40px;
    margin-top: -3.4%;
    margin-left: -3.7%;
    border: 1px solid rgba(185, 185, 185, 0.46);
     box-shadow: 0 1px 5px rgba(111, 111, 111, 0.46);
}

#mainBody {
    text-align: center;
}


.pitchLocation input {
    width: 90%;
    margin-top: 40%;
    margin-left: 5%;
    border: none;
    font-size: 12px;
    text-align: center;
}

.pitchLocation span {
    left: 39%;
    top: 40%;
}

.saveButton {
    width: 60px;
    height: 60px;
    background-color: #ef7f05;
    box-shadow: 0 1px 5px rgba(34, 34, 34, 0.46);
    border-radius: 40px;
    margin: 0 auto;
}

.saveButton span {
    color: white;
    left: 34%;
    top: 30%;
    font-size: 20px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#score h2, #score h1 {
    display: inline-block;
    padding: 20px;
}

.selected {
    background-color: #a1de48 !important;
}

.createBox {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    height: 100%;
    	border-bottom: 0 none;
	box-shadow: 0 1px 5px rgba(120, 120, 120, 0.46);
    margin-top: 20px;
    border: 1px solid #dedede;
    text-align: center;
}

.clear {
    clear: both;
    margin: 0;
}

.team-widget {
    width: 100%;
    height: auto;
    border: 1px solid #dedede;
    border-radius: 4px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 7px 0px rgba(208, 208, 208, 0.75);
    overflow: hidden;
}

.teamstats > div{
    width: 9%;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    text-align: center;
    height: 100%;
    margin-top: 10px;
    vertical-align: middle;
    border-left: 1px solid rgb(213, 213, 213);
    border-radius: 5px;
    background-color: white;
        margin-bottom: 10px;
    min-width: 80px;
}

.detailstats {
    width: 100%;

    background-color: #f2f2f2;
    }

.detailstats > div {
    border: 1px solid rgb(213, 213, 213);
    box-shadow: 0px 0px 7px 0px rgba(239, 239, 239, 0.75);
}


.image {
    border-radius: 25px;
    border: 1px solid rgb(213, 213, 213);
    height: 50px !important;
    width: 50px !important;
    display: block;
}

.user-widget {
    width: 50px;
    text-align: center;
    display: inline-block;
    margin: 20px;
}

.user-list {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 70px;
    height: auto;
    clear: both;
    text-align: center;
}

.teamstats {
    height: 100%;
        text-align: center;
}

.team-name {
    height: 100%;

    line-height: 100px;
}

.team-widget p {
    display: inline-block;
}

#teamName {
    margin: 0 auto;
    margin-bottom: 10px;
}

#teamSport, #selectedTeam {
    width: 100px;
    border-radius: 3px;
    height: 40px;
    width: 280px;
}

.event-widget {
    padding: 20px;
    border: 1px solid rgb(213, 213, 213);
    box-shadow: 0px 0px 7px 0px rgba(217, 217, 217, 0.75);
    margin:15px;
    border-radius: 5px;
}

.social {
    background-color: #f7f7d9;
}

.training {
      background-color: rgba(200, 200, 200, 0.19);
}
.event-widget div {
    display: inline-block;
    text-align: center;
}

.event-date, .event-text {
    border-right:1px solid rgb(213, 213, 213);
}

.event-text {
    margin-top: -10px;
}

.event-date h4{
    margin: 0 0 8px 0;
    font-size: 12px;
}

.event-widget-dropdown {
    border: 1px solid rgb(213, 213, 213);
    margin: 20px;
    margin-top: -15px;
}

.searchBox .btn {
    width: 100% !important;
    display: block !important;
    max-width: none;
    border-radius: 0;
    color: white;
    background-color: #2980b9;
        border-radius: 5px;
}

.searchBox {
    margin-bottom: 40px;
}

.createteam {
    max-width: none;
        max-width: none;
    border-radius: 0;
    color: white;
    background-color: #2980b9
}

.selected-users .user-widget {
    width: 33.33333%;
    text-align: center;
    padding: 10px;
    margin: 0;
    border: none;
}
.selected-users .user-widget .name {
    width: auto;
        font-size: 11px;
    text-align: center;
    border: none;
}

.selected-users .user-widget .image {
    margin: 0 auto;
    box-shadow: 0px 0px 7px 0px rgba(203, 203, 203, 0.75);
    background-color: white;
}

.selected-user-list{
    list-style: none;
    width: 100%;
    height: 400px;
    border-right: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    padding-right: 3px;
    padding-left: 3px;
    height: auto;
    background-color: white;
    margin-bottom: 0;
}

#nameBox, .teamrosterheader {
        border: 1px solid rgba(203, 203, 203, 0.75);
    height: 50px;
    line-height: 50px;
    font-size: 21px;
    text-align: center;
    max-width: none;
    width: 100%;
}

.removeMember {
    float: right;
    margin-top: -10px;
    color: red;
    
}

.teamrosterheader {
        background-color: #2980b9;
    color: white;
}
.selected-users {
    height: 400px;
        border-right: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    width: 100%;
    padding: 3px;
    padding-top: 0;
    background-color: white;
    list-style: none;
}

.selected-user-list li, .selected-users li {
    background-color: white;
    width: 100%;
    border: 1px solid rgba(203, 203, 203, 0.75);
    border-radius: 2px;
    margin-top: 2px;
    line-height: 30px;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 6px;
    cursor: pointer;
}

.selected-user-list li .name, .selected-users li .name{
    width: 60%;
    height: 100%;
    border-right: 1px solid #e8e8e8;
    display: inline-block
}

.selected-user-list li .sport,
.selected-users li .sport {
    width: 40%;
    height: 100%;
    display: inline-block
}

#score {
    margin: 0 auto;
    text-align: center;
}

.body-content {
    height: 100vh;

}

.lower {
        background-color: rgba(255, 255, 255, 0.58);
    margin: 0px -15px 0 -15px;
    padding: 20px;
    height: auto;
        border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    box-shadow: 0px 0px 7px 0px rgba(203, 203, 203, 0.75);
}

.navbar-fixed-top {
    background-color:#2980b9;
    border: none;
    -moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
}

.navbar-fixed-top a{
    color: white !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-brand {
    border-right: 1px solid rgba(255, 255, 255, 0.34);
    margin-right: 20px;
}

#event-carousel {
    padding-top: 20px;
    height: 25vh;
    border-bottom: 1px solid #e5e5e5;
    margin-left: -15px;
    margin-right: -15px;
}

.emptycarousel {
    height: 30vh;
    border-bottom: 1px solid #e5e5e5;
    display:table;
    width: 100%;
}

.attendance {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.emptyHeader {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #a4a4a4;
    text-align: center;
    display: table-cell;
    vertical-align:middle
}

.event-container {
    width: 30%;
    margin-left: 1.65%;
    margin-right: 1.65%;
    min-height: 100%;
    height: auto;
    border-radius: 3px;
    float: left;
    border: 1px solid #d7d7d7;
    box-shadow: 0px 0px 7px 0px rgba(142, 142, 142, 0.75);
    padding: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.homeTeam h4, .awayTeam h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11px;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.homeTeam, .awayTeam {
    padding-left: 0;
    padding-right: 0;
}

.awayTeam h2 {
    padding: 0;
    text-align: center;
}
.score {
    border-bottom: 1px solid rgb(213, 213, 213);
    margin: auto;
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    height: 85px;
}

.goals h4{
    font-size: 12px;
    float:left;
    margin-bottom: 5px;
    margin-top: 5px;
}

.goals h5{
    float: right;
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.row {
    margin: auto;
}

.goals {
    border-bottom: 1px solid rgb(213, 213, 213);
    display: inline-block;
    width: 100%;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.goals img {
    float: left;
    clear: left !important;
    margin-top: 2px;
    margin-left: -5px;
    margin-right: 5px;
    height: 14px;
    width: auto;
}

.homeGoals {
    border-right: 1px solid rgb(213, 213, 213);
}

.cards {
    margin-top: -5px;
    border-bottom:  1px solid rgb(213, 213, 213);
}
.homeCards {
    border-right: 1px solid rgb(213, 213, 213);
}
.cards h4 {
    float: left;
    clear: left;
   font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.cards img {
    margin-left: 10px;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    float: left;
    margin-top: 3px;
}


.comments h2{
    font-size: 16px;
    margin: 0;
    text-align: center;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    border-bottom:1px solid  rgb(213, 213, 213);
    margin-left: -10px;
    margin-right: -10px;
}
.comments {
    padding:10px;
    height: 34%;
        border-bottom: 1px solid rgb(213, 213, 213);
}

#event-carousel .event-container {
    background-color: #f7f7f7;
    position: relative;
}

#event-carousel .event-container:nth-child(2) {
    background-color : #ffffff;
}

.event-container:hover {
    transform: scale(1.01);
    /*background-color: white !important;*/
    z-index: 1000 !important;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(167, 167, 167, 0.75);
    -moz-box-shadow:  0px 0px 13px 0px rgba(167, 167, 167, 0.75);
    box-shadow:  0px 0px 13px 0px rgba(167, 167, 167, 0.75);
    box-shadow: 0px 0px 13px 0px rgba(118, 118, 118, 0.75);
}

.eventDate {
    background-color: #e57345;
    color: white;
    height: 30px;
    font-size: 16px;
    padding-top: 3px;
    text-align: center;
    margin-bottom: -10px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.navbar-fixed-top {
    z-index: 100000;
}

.collapseEvents {
    background-color: #f77d4c;
    height: 20px;
    margin-left: -15px;
    margin-right: -15px;
    text-align: center;
    color: white;
    -webkit-box-shadow: inset 0px 0px 5px 0px rgb(130, 130, 130);
-moz-box-shadow: inset 0px 0px 5px 0px rgb(130, 130, 130);
box-shadow: inset 0px 0px 5px 0px rgb(130, 130, 130);
}

.flipped {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    padding: 3px;
}

.collapsed {
    background-color: #cd6136;
}

.buttonBar {
    margin-left: -15px !important;
    margin-right: -15px !important;
    border-radius: 0px;
    border: none;
    margin-bottom: 0;
        box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
}

.buttonBar ul {
    width: 100%;
}

.buttonBar li {
    text-align: center;
    
}

.buttonBar a {
    color:#393939 !important
}
.buttonBar li:hover {
    background-color: white;
}

.edit-team {
    float: right;
    height: 30px;
    width: auto;
}

.team-widget > a {
    float: right;
    margin-top: -50px;
    margin-right: 20px;
}

.title {
    text-align: center;
    border-bottom: 1px solid rgb(213, 213, 213);
        box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 65px;
    padding: 20px;
}

.social-comments {
    height: 50%;
    border-bottom: 1px solid rgb(213, 213, 213);
    padding: 15px;
}

.social-location {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid rgb(213, 213, 213);
}

.attendance div {
    text-align: center;
    padding-top:9px
}

/*.playing {
    background-color: #2ecc71;
}
.rejected {
    background-color: #e74c3c;
}
.maybe {
    background-color: #f1c40f;
}*/
.undecided {

}

@media(max-width: 726px) {
    .buttonBar {
        display: none;
    }
    .teamstats {
        padding-left: 0;
        padding-right: 0;
        min-width: 280px;
    }
        #event-carousel {
            text-align: center;
        }
            .attendance {
        display: block !important;
                position: relative;
                line-height: 30px;
                padding-top: 10px;
    }
    #event-carousel > div { width: 100%;}
    #event-carousel > div:last-child { display: none !important;}
    #event-carousel > div:first-child { display: none !important;}
            #event-carousel div .eventDate{ display: block !important;}
            .event-container{ margin-left: 0px;}
    #calendar {
        min-height: 500px;
    }
    #event-carousel {
        padding-top: 0;
    }
    .body-content {
            background: rgba(255, 255, 255, 0.55);
    }
}

.fc-widget-header {
    border-right-width: 0px; 
     margin-right: 0px; 
}

.fc-day-grid-container {
    height: auto !important;
    overflow-y: auto !important;
}

@media(min-width: 726px) {
      .container {max-width: 1000px;}

}

@media(max-width: 992px) {
    
}

@media(max-width: 1000px) {

    .teamstats {
        padding-top: 0;
    }

}

.nav li {
    cursor: pointer
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              