@model Trakk.Helpers.EntityResponse
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BadRequestView</title>
</head>
<body>
<div>
    <h1>404</h1>
    <h2>@Model.Message</h2>
</div>
</body>
</html>
