@model List<Trakk.Models.TeamMember>
<ul class="user-list col-lg-12">
    @foreach (var member in Model)
            {

        <li class="user-widget" id="@member.Id">
            <div class="image"></div>
            <span class="username">@member.Name</span>
        </li>

    }

</ul>
<script>

    var droppableParent;

    $('.user-widget').draggable({
        revert: 'invalid',
        revertDuration: 200,
        start: function () {
            droppableParent = $(this).parent();

            $(this).addClass('being-dragged');
        },
        stop: function() {
            $(".saveButton").removeClass("saved");
            $(this).removeClass('being-dragged');
            $(".saveButton span").removeClass("glyphicon-saved").addClass("glyphicon-save");
        },
        containment: ".pitchFrame"

    });

</script>
